name: docs

on: workflow_dispatch

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          pip install -e .[docs]

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Generate Protobuf Docs
        run: |
          invoke proto_docs

      - name: Get version
        run: |
          VERSION=$(python -c "import compas_pb; print(compas_pb.__version__)")
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Deploy to GitHub Pages
        run: |
          mike deploy --push --update-aliases ${{ env.VERSION }} latest
