name: release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.11", "3.12", "3.13"]

    steps:
      - uses: compas-dev/compas-actions.build@v4.1.0
        with:
          python: ${{ matrix.python }}
          invoke_lint: true
          invoke_test: true
          run_prebuild: true

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Generate protobuf files
        run: |
          invoke generate-proto-classes -t python

      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI }}
        run: |
          python -m build
          twine upload dist/*

  upload-assets:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Generate protobuf files
        run: |
          invoke generate-proto-classes -t python

      - name: Generate protobuf assets
        run: invoke create-class-assets

      - name: Upload Assets to Existing Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/proto/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
